html {
    scroll-behavior: smooth;
 }

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #252024;
    color: #A9B7C6;
    flex-direction: column;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

section {
    margin: 7%;
    display: flex;
}

footer {
    margin-left: 2%;
    margin-bottom: 4%;
}

ul {
    display: flex;
    flex-direction: row;
    margin-right: 5vw;
}

li {
    list-style: none;
    padding: 1vw;
}

a {
    text-decoration: none;
    font-size: 1.5vw;
}

#logo {
    margin-left: 5vw;
    font-family: 'Bungee Spice', cursive;
    font-size: 3vh;
}

footer {
    position: fixed;
    bottom: 0;
}

footer ul {
    margin-left: 2vw;
    flex-direction: column;
}

footer li {
    padding: 0;
}

.typeWriterEffect {
    display: grid;
    margin: auto;
    font-size: 1.8vw;
}

h1 {
    position: relative;
    text-align: center;
}

.purpleText{
    color: #9876AA
}

.greenText {
    color: #629755;
}

.orangeText {
    color: #CC7832;
}

.projectContainer {
    display: flex;
    overflow-x: scroll;
}

.project{
    width: 100vw;
    height: 88vh;
    flex-shrink: 0;
}

.projectContainer :nth-child(1) {
    background-color:#629755
}

.projectContainer :nth-child(12) {
    background-color: #A9B7C6;
}

.projectContainer :nth-child(3) {
    background-color: #9876AA;
}